In [1]:
import pandas as pd

In [3]:
fage = pd.read_csv('firearm_agencies.csv')

In [5]:
fage.head()

   Unnamed: 0       city state_id state_name        county_name
0           0    Wasilla       AK     Alaska  Matanuska-Susitna
1           1    Wasilla       AK     Alaska  Matanuska-Susitna
2           2  Anchorage       AK     Alaska          Anchorage
3           4  Anchorage       AK     Alaska          Anchorage
4           5  Anchorage       AK     Alaska          Anchorage

In [6]:
fage.state_name.value_counts()

Texas                   7920
Arkansas                3687
Florida                 3488
Pennsylvania            3273
California              3077
Ohio                    2625
North Carolina          2513
Missouri                2465
Illinois                2387
Michigan                2300
Georgia                 2109
Arizona                 1997
Colorado                1893
Minnesota               1809
Virginia                1732
Oklahoma                1696
Wisconsin               1682
Oregon                  1599
New York                1565
Tennessee               1525
Indiana                 1482
Kentucky                1452
Iowa                    1426
Alabama                 1294
Louisiana               1290
Washington              1287
Montana                 1282
Kansas                  1234
South Carolina          1184
Utah                    1028
Idaho                   1025
Mississippi              998
West Virginia            871
Nebraska                 863
New Mexico               729
Wyoming                  698
Alaska                   663
Nevada                   658
Maryland                 599
South Dakota             572
North Dakota             473
Connecticut              339
Massachusetts            335
New Jersey               296
Maine                    292
New Hampshire            277
Vermont                  229
Delaware                 134
Hawaii                    64
Rhode Island              60
Puerto Rico               52
District of Columbia       7
Virgin Islands             1
Name: state_name, dtype: int64