In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('formated_csv/final.csv')

In [3]:
add = pd.read_csv('formated_csv/remaining_bracket_data.csv')

In [4]:
add2 = pd.read_csv('formated_csv/county_in_brackers2.csv')

In [5]:
add3 = pd.read_csv('formated_csv/NANwithCounty2.csv')

In [6]:
add4 = pd.read_csv('formated_csv/MonCounty2.csv')

In [7]:
result = pd.concat([df,add,add2,add3,add4])

In [8]:
result

,date,state_name,state_id,county_name,city_or_county,city,n_killed,n_injured,n_total
0,1/1/2014,Michigan,MI,Muskegon,Muskegon,Muskegon,0,0,0
1,1/1/2014,New Jersey,NJ,Essex,Newark,Newark,0,0,0
2,1/1/2014,New York,NY,Queens,Queens,Queens,1,0,1
3,1/1/2014,New York,NY,Kings,Brooklyn,Brooklyn,0,1,1
4,1/1/2014,Missouri,MO,Greene,Springfield,Springfield,0,1,1
5,1/1/2014,Georgia,GA,Muscogee,Columbus,Columbus,0,1,1
6,1/1/2014,New York,NY,Onondaga,Syracuse,Syracuse,0,1,1
7,1/1/2014,Kentucky,KY,Fayette,Lexington,Lexington,0,0,0
8,1/1/2014,Pennsylvania,PA,Philadelphia,Philadelphia,Philadelphia,0,1,1
9,1/1/2014,Virginia,VA,Hampton,Hampton,Hampton,0,0,0
10,1/1/2014,South Carolina,SC,Charleston,North Charleston,North Charleston,1,0,1
11,1/1/2014,Maryland,MD,Baltimore,Baltimore,Baltimore,0,0,0
12,1/1/2014,Delaware,DE,New Castle,Wilmington,Wilmington,1,0,1
13,1/1/2014,Colorado,CO,Mesa,Grand Junction,Grand Junction,1,0,1
14,1/1/2014,South Carolina,SC,Charleston,North Charleston,North Charleston,0,1,1
15,1/1/2014,Missouri,MO,Greene,Springfield,Springfield,0,0,0
16,1/1/2014,Alabama,AL,Madison,Huntsville,Huntsville,1,0,1
17,1/1/2014,New Jersey,NJ,Camden,Camden,Camden,0,1,1
18,1/1/2014,Louisiana,LA,Orleans,New Orleans,New Orleans,1,0,1
19,1/1/2014,Utah,UT,Washington,Hurricane,Hurricane,0,1,1
20,1/1/2014,Indiana,IN,Allen,Fort Wayne,Fort Wayne,0,1,1
21,1/1/2014,Louisiana,LA,Jefferson,Marrero,Marrero,1,0,1
22,1/1/2014,Illinois,IL,Perry,Pinckneyville,Pinckneyville,0,0,0
23,1/1/2014,New York,NY,Bronx,Bronx,Bronx,0,1,1
24,1/1/2014,Colorado,CO,Fremont,Canon City,Canon City,0,1,1
25,1/1/2014,New York,NY,Bronx,Bronx,Bronx,0,1,1
26,1/1/2014,Texas,TX,Lubbock,Lubbock,Lubbock,0,2,2
27,1/1/2014,Nebraska,NE,Lincoln,North Platte,North Platte,0,0,0
28,1/1/2014,South Carolina,SC,Charleston,Johns Island,Johns Island,0,0,0
29,1/1/2014,Texas,TX,Harris,Houston,Houston,0,0,0
...,...,...,...,...,...,...,...,...,...
978,1/19/2018,Indiana,IN,Tippecanoe,Tippecanoe,NaN,0,0,0
979,1/20/2018,New Hampshire,NH,Lee,Lee,NaN,0,1,1
980,1/21/2018,Connecticut,CT,Oxford,Oxford,NaN,0,0,0
981,1/25/2018,Virginia,VA,Hayes,Hayes,NaN,0,1,1
982,1/27/2018,Massachusetts,MA,Lancaster,Lancaster,NaN,0,0,0
983,1/28/2018,Tennessee,TN,Madison,Madison,NaN,0,1,1
984,1/28/2018,Georgia,GA,Cobb,Cobb,NaN,0,0,0
985,1/30/2018,South Dakota,SD,Black Hawk,Black Hawk,NaN,0,1,1
986,1/31/2018,Connecticut,CT,Guilford,Guilford,NaN,1,0,1
987,1/31/2018,Georgia,GA,Winston,Winston,NaN,0,1,1
988,2/3/2018,New Hampshire,NH,Merrimack,Merrimack,NaN,0,0,0
989,2/9/2018,New York,NY,Sterling,Sterling,NaN,0,0,0
990,2/14/2018,Tennessee,TN,Madison,Madison,NaN,0,0,0
991,2/19/2018,Maine,ME,Jay,Jay,NaN,0,0,0
992,2/19/2018,Connecticut,CT,Fairfield,Fairfield,NaN,0,0,0
993,2/20/2018,Connecticut,CT,Essex,Essex,NaN,2,0,2
994,2/27/2018,Pennsylvania,PA,Pittsburg,Pittsburg,NaN,0,0,0
995,2/28/2018,Tennessee,TN,Madison,Madison,NaN,0,0,0
996,3/2/2018,Delaware,DE,Lincoln,Lincoln,NaN,0,0,0
997,3/4/2018,New Jersey,NJ,Jackson,Jackson,NaN,1,0,1
998,3/4/2018,Massachusetts,MA,Weston,Weston,NaN,0,0,0
999,3/11/2018,Connecticut,CT,Fairfield,Fairfield,NaN,0,0,0
1000,3/12/2018,Tennessee,TN,Madison,Madison,NaN,0,0,0
1001,3/12/2018,Tennessee,TN,Madison,Madison,NaN,0,0,0
1002,3/16/2018,Virginia,VA,Henrico,Henrico,NaN,0,0,0
1003,3/21/2018,Maryland,MD,Faulkner,Faulkner,NaN,0,1,1
1004,3/25/2018,Alaska,AK,Barrow,Barrow,NaN,1,0,1
1005,3/26/2018,Massachusetts,MA,Charlton,Charlton,NaN,0,0,0
1006,3/26/2018,Illinois,IL,Owen,Owen,NaN,0,0,0
1007,3/29/2018,Tennessee,TN,Madison,Madison,NaN,0,1,1

In [9]:
result.to_csv('formated_csv/final2.csv')