In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2014_for_heatmap_killed.csv')

In [3]:
df.dropna(inplace=True)

In [4]:
df.head()

   n_killed  latitude  longitude
0         8   29.7555   -82.8626
1         7   40.2459   -75.2820
2         6   30.0405   -95.4424
3         5   40.1109  -111.6650
4         5   36.7843   -81.7848

In [5]:
df['output'] = '{ lat: ' + df['latitude'].astype(str) + ', lng: ' + df['longitude'].astype(str) + ', count: '+ df['n_killed'].astype(str) +' }'

In [6]:
df.head()

   n_killed  latitude  longitude                                     output
0         8   29.7555   -82.8626  { lat: 29.7555, lng: -82.8626, count: 8 }
1         7   40.2459   -75.2820   { lat: 40.2459, lng: -75.282, count: 7 }
2         6   30.0405   -95.4424  { lat: 30.0405, lng: -95.4424, count: 6 }
3         5   40.1109  -111.6650  { lat: 40.1109, lng: -111.665, count: 5 }
4         5   36.7843   -81.7848  { lat: 36.7843, lng: -81.7848, count: 5 }

In [8]:
df.to_csv('out2014killed.csv')