In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('2014_for_heatmap.csv')

In [40]:
df.dropna(inplace=True)

In [41]:
df['output'] = '{ lat: ' + df['latitude'].astype(str) + ', lng: ' + df['longitude'].astype(str) + ', count: 1 }'

In [42]:
df.head()

   latitude  longitude                                     output
0   43.2301   -86.2514  { lat: 43.2301, lng: -86.2514, count: 1 }
1   40.7417   -74.1695  { lat: 40.7417, lng: -74.1695, count: 1 }
2   40.7034   -73.7474  { lat: 40.7034, lng: -73.7474, count: 1 }
3   40.6715   -73.9476  { lat: 40.6715, lng: -73.9476, count: 1 }
4   37.2646   -93.3007  { lat: 37.2646, lng: -93.3007, count: 1 }

In [43]:
output_df = df.output

In [45]:
output_df.to_csv('out2014.csv', index=False)