In [1]:
import pandas as pd

In [3]:
populationDF = pd.read_csv('2014population2.csv', encoding = "ISO-8859-1")

In [10]:
populationDF = populationDF[~populationDF.county.str.contains('city')]

In [11]:
populationDF

                                 county  population
0                               Alabama     4842481
68                               Alaska      736307
69               Aleutians East Borough        3348
70           Aleutians West Census Area        5822
71               Anchorage Municipality      299927
72                   Bethel Census Area       17933
73                  Bristol Bay Borough         949
74                       Denali Borough        1915
75               Dillingham Census Area        4983
76         Fairbanks North Star Borough       99256
77                       Haines Borough        2555
78            Hoonah-Angoon Census Area        2103
79              Juneau City and Borough       32476
80              Kenai Peninsula Borough       57565
81            Ketchikan Gateway Borough       13801
82                Kodiak Island Borough       13904
83                 Kusilvak Census Area        8098
84           Lake and Peninsula Borough        1645
85            Matanuska-Susitna Borough       98104
86                     Nome Census Area        9803
87                  North Slope Borough        9769
88             Northwest Arctic Borough        7771
89                   Petersburg Borough        3265
90    Prince of Wales-Hyder Census Area        6460
91               Sitka City and Borough        8839
92                 Skagway Municipality        1053
93      Southeast Fairbanks Census Area        6922
94           Valdez-Cordova Census Area        9475
95            Wrangell City and Borough        2447
96             Yakutat City and Borough         655
...                                 ...         ...
1253                           Michigan     9930589
1337                          Minnesota     5451522
1425                        Mississippi     2990623
1508                           Missouri     6056293
1624                            Montana     1021891
1681                           Nebraska     1879522
1775                             Nevada     2819012
1792                        Carson City       54096
1793                      New Hampshire     1333223
1804                         New Jersey     8866780
1826                         New Mexico     2090342
1860                           New York    19656330
1923                     North Carolina     9933944
2024                       North Dakota      737382
2078                               Ohio    11602973
2167                           Oklahoma     3878367
2245                             Oregon     3964106
2282                       Pennsylvania    12789101
2350                       Rhode Island     1056017
2356                     South Carolina     4823793
2403                       South Dakota      849088
2470                          Tennessee     6540826
2566                              Texas    26977142
2821                               Utah     2937399
2851                            Vermont      625218
2866                           Virginia     8312076
3000                         Washington     7052439
3040                      West Virginia     1849467
3096                          Wisconsin     5751974
3169                            Wyoming      582548

[146 rows x 2 columns]

In [12]:
states = pd.read_csv('states2014.csv')

In [14]:
full_data = pd.merge(states, populationDF, how='left', left_on=['state'], right_on = ['county'])

In [15]:
full_data

                   state  n_incidents                county  population
0             California         3732            California    38625139
1                Florida         3138               Florida    19860330
2                  Texas         3133                 Texas    26977142
3               Illinois         3095              Illinois    12888962
4                   Ohio         2368                  Ohio    11602973
5           Pennsylvania         2267          Pennsylvania    12789101
6         North Carolina         2165        North Carolina     9933944
7                Georgia         2032               Georgia    10069001
8              Louisiana         1906             Louisiana     4644204
9               New York         1903              New York    19656330
10        South Carolina         1660        South Carolina     4823793
11             Tennessee         1590             Tennessee     6540826
12            New Jersey         1521            New Jersey     8866780
13              Michigan         1447              Michigan     9930589
14               Alabama         1318               Alabama     4842481
15              Virginia         1273              Virginia     8312076
16              Missouri         1272              Missouri     6056293
17              Maryland         1266              Maryland     5958165
18               Indiana         1203               Indiana     6593533
19             Wisconsin         1065             Wisconsin     5751974
20              Kentucky          977              Kentucky     4414483
21         Massachusetts          968         Massachusetts     6763652
22  District of Columbia          838  District of Columbia      662513
23  District of Columbia          838  District of Columbia      662513
24           Mississippi          784           Mississippi     2990623
25            Washington          656            Washington     7052439
26              Oklahoma          642              Oklahoma     3878367
27           Connecticut          583           Connecticut     3594783
28              Arkansas          572              Arkansas     2967726
29                  Iowa          569                  Iowa     3109504
30              Colorado          556              Colorado     5351218
31               Arizona          556               Arizona     6733840
32              Delaware          493              Delaware      932596
33             Minnesota          450             Minnesota     5451522
34                Oregon          398                Oregon     3964106
35                Kansas          381                Kansas     2900896
36                Nevada          376                Nevada     2819012
37         West Virginia          362         West Virginia     1849467
38              Nebraska          347              Nebraska     1879522
39            New Mexico          320            New Mexico     2090342
40         New Hampshire          230         New Hampshire     1333223
41                  Utah          217                  Utah     2937399
42          Rhode Island          189          Rhode Island     1056017
43                 Maine          183                 Maine     1330760
44               Vermont          170               Vermont      625218
45                Alaska          146                Alaska      736307
46               Montana          128               Montana     1021891
47                 Idaho          115                 Idaho     1631479
48          North Dakota          110          North Dakota      737382
49          South Dakota           72          South Dakota      849088
50               Wyoming           64               Wyoming      582548
51                Hawaii           48                Hawaii     1414862

In [16]:
full_data.to_csv('states2014.csv', index=False)