In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('2014permits_granted.csv')

In [5]:
df.head()

        state   total
0     Alabama   75874
1      Alaska    9442
2     Arizona   33062
3    Arkansas   29453
4  California  164170

In [7]:
out = df.groupby('state').sum()

In [9]:
out.to_csv('permits_granted2014.csv')