In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('states2014.csv')

In [21]:
df.columns

Index(['state', 'n_incidents', 'lawtotal', 'firearm_agencies',
       'poverty_percent', 'permits_granted', 'TOT_POP', 'TOT_MALE',
       'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE',
       'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'H_MALE', 'H_FEMALE'],
      dtype='object')

In [22]:
X = df[['lawtotal', 'firearm_agencies','poverty_percent', 'permits_granted',  
         'TOT_POP', 'TOT_MALE', 'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 
         'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'H_MALE', 'H_FEMALE']]
y = df['n_incidents'].values.reshape(-1, 1)
print(X.shape, y.shape)

(51, 17) (51, 1)

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [24]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """
C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [25]:
model.fit(X_train_scaled, y_train_scaled)

training_score = model.score(X_train_scaled, y_train_scaled)
testing_score = model.score(X_test_scaled, y_test_scaled)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9659232026576705
Testing Score: 0.5515812821672682

In [26]:
model.coef_

array([[ 4.00563911e-02, -1.69119372e-01,  1.55382894e-01,
         2.75058741e-01, -1.19593693e+00, -5.00044331e+01,
         4.65211007e+01,  3.21507615e+01, -2.80781876e+01,
         1.42447889e+01, -1.34683724e+01,  1.27702251e+00,
        -1.26603078e+00,  7.38773939e+00, -6.98245049e+00,
         9.32490171e+00, -9.40962144e+00]])

In [27]:
model_coefs_df = pd.DataFrame()
model_coefs_df['feature'] = X.columns
model_coefs_df['coef'] = model.coef_[0]
model_coefs_df

             feature       coef
0           lawtotal   0.040056
1   firearm_agencies  -0.169119
2    poverty_percent   0.155383
3    permits_granted   0.275059
4            TOT_POP  -1.195937
5           TOT_MALE -50.004433
6         TOT_FEMALE  46.521101
7            WA_MALE  32.150761
8          WA_FEMALE -28.078188
9            BA_MALE  14.244789
10         BA_FEMALE -13.468372
11           IA_MALE   1.277023
12         IA_FEMALE  -1.266031
13           AA_MALE   7.387739
14         AA_FEMALE  -6.982450
15            H_MALE   9.324902
16          H_FEMALE  -9.409621

In [28]:
from sklearn.metrics import mean_squared_error

predictions_train = model.predict(X_train_scaled)
predictions_test = model.predict(X_test_scaled)

MSE_train = mean_squared_error(y_train_scaled, predictions_train)
MSE_test = mean_squared_error(y_test_scaled, predictions_test)


print(f"MSE train: {MSE_train}")
print(f"MSE test: {MSE_test}")

MSE train: 0.03407679734232953
MSE test: 0.4365859755742295

In [29]:
import pandas as pd
county_df = pd.read_csv('data_by_county.csv')

In [30]:
county_df.head()

,State,state_id_y,County,Region Code,n_incidents,lawtotal,poverty_percent,firearms_agencies,TOT_POP,TOT_MALE,...,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,H_MALE,H_FEMALE
0,Alabama,AL,Autauga,1001,39,10,10.8,19,55347,26857,...,20925,21840,5003,5601,121,146,276,388,816,757
1,Alabama,AL,Baldwin,1003,85,10,10.0,60,203709,99286,...,86524,90838,9477,9954,740,765,852,1055,4873,4395
2,Alabama,AL,Barbour,1005,20,10,24.9,9,26489,14148,...,7099,6176,6728,5910,90,63,57,61,680,492
3,Alabama,AL,Bibb,1007,8,10,15.6,3,22583,12170,...,8863,8316,3117,1900,45,51,19,33,328,216
4,Alabama,AL,Blount,1009,20,10,12.1,15,57673,28495,...,27308,27926,596,488,174,203,65,99,2826,2338

In [31]:
X = county_df[['lawtotal', 'firearms_agencies','poverty_percent',   
         'TOT_POP', 'TOT_MALE', 'TOT_FEMALE', 'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 
         'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'H_MALE', 'H_FEMALE']]
y = county_df['n_incidents'].values.reshape(-1, 1)
print(X.shape, y.shape)

(2707, 16) (2707, 1)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [33]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """
C:\Users\Oleg\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Oleg\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [34]:
model.fit(X_train_scaled, y_train_scaled)

training_score = model.score(X_train_scaled, y_train_scaled)
testing_score = model.score(X_test_scaled, y_test_scaled)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6863554632708344
Testing Score: 0.4868621832117608

In [35]:
model_coefs_df = pd.DataFrame()
model_coefs_df['feature'] = X.columns
model_coefs_df['coef'] = model.coef_[0]
model_coefs_df

              feature       coef
0            lawtotal   0.020542
1   firearms_agencies   0.009139
2     poverty_percent   0.064974
3             TOT_POP   2.746879
4            TOT_MALE -20.965877
5          TOT_FEMALE  25.581623
6             WA_MALE  13.340485
7           WA_FEMALE -18.058952
8             BA_MALE   6.380878
9           BA_FEMALE  -7.820625
10            IA_MALE   0.125113
11          IA_FEMALE  -0.255262
12            AA_MALE   4.315980
13          AA_FEMALE  -5.447752
14             H_MALE   1.413935
15           H_FEMALE  -1.603738

In [36]:
from sklearn.metrics import mean_squared_error

predictions_train = model.predict(X_train_scaled)
predictions_test = model.predict(X_test_scaled)

MSE_train = mean_squared_error(y_train_scaled, predictions_train)
MSE_test = mean_squared_error(y_test_scaled, predictions_test)


print(f"MSE train: {MSE_train}")
print(f"MSE test: {MSE_test}")

MSE train: 0.31364453672916554
MSE test: 2.7597092821703293